@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root{
    --hf: #151b23;
    --text: #ededed;
    --primary: #00D4FF;
    --accent:#FF4081;
    --secondary: #1d2531;
    --background: #212830;
    --heading: #F5F5F5;
    --border: white;
}
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
    text-decoration: none;
    font-size: 16pt;
    color: var(--text);
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--background);
}
.show{
    display: block !important;
}
.hide{
    display: none !important;
}

